<div class="hero mdc-theme--on-primary mdc-theme--primary-bg">
	<div class="mdc-layout-grid grid-container">
		<h1 class="mdc-typography--headline3">{{ site.title }}</h1>
		<p class="mdc-typography--headline5">{{ site.description }}</p>

		<p class="hero-actions">
			<a
				href="{{ 'getting-started' | relative_url }}"
				class="mdc-button mdc-button--outlined mdc-theme--on-primary"
			>
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">Get Started</span>
			</a>
		</p>
	</div>
</div>
