<nav class="mdc-top-app-bar mdc-top-app-bar--fixed">
	<div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			{% include current-site-link.html %}
		</section>
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
			<a href="getting-started" class="mdc-top-app-bar__action-item mdc-button">
				<div class="mdc-button__ripple"></div>
				<span class="mdc-button__label">Get Started</span>
			</a>
			{% if site.twitter %}
			<a
				href="https://twitter.com/{{ site.twitter | escape }}"
				class="mdc-top-app-bar__action-item mdc-icon-button"
				aria-label="{{ site.title }} Twitter Link"
			>
				{% include twitter-icon.html %}
			</a>
			{% endif %}
			<a
				href="{{ site.github.repository_url | escape }}"
				class="mdc-top-app-bar__action-item mdc-icon-button"
				aria-label="{{ site.title }} Github Repository Link"
			>
				{% include github-icon.html %}
			</a>
		</section>
	</div>
</nav>
