<nav
	class="mdc-top-app-bar mdc-top-app-bar--fixed{% if include.bg == 'transparent' %} transparent-bg{% endif %}"
>
	<div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			<a
				href="{{ site.github.url | escape }}/"
				class="mdc-top-app-bar__title mdc-theme--on-primary"
			>
				{{ site.title }}
			</a>
		</section>
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
			<a
				href="https://twitter.com/{{ site.twitter | escape }}"
				class="mdc-top-app-bar__action-item mdc-icon-button"
				aria-label="{{ site.title }} Twitter Link"
			>
				{% include twitter-icon.html %}
			</a>
			<a
				href="{{ site.github.repository_url | escape }}"
				class="mdc-top-app-bar__action-item mdc-icon-button"
				aria-label="{{ site.title }} Github Repository Link"
			>
				{% include github-icon.html %}
			</a>
		</section>
	</div>
</nav>
