---
layout: default
---

<header>
	{%- include top-bar.html -%}
</header>

<main class="main-content mdc-top-app-bar--fixed-adjust mdc-layout-grid grid-container">
	<div class="mdc-layout-grid__inner">
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop"
		>
			<div class="position-sticky mdc-top-app-bar--fixed-adjust-relative">
				{%- include content-table.html -%}
			</div>
		</div>
		<div
			class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop"
		>
			{%- include content.html -%}
		</div>
	</div>
</main>
